.double-text {
    text-transform: uppercase;
    font-family: $albas-font;
    transition: ease-in-out font-size .5s;
    font-size: var(--dt-lgfont);
    line-height: var(--dt-lglineheight);
    z-index: 1;

    @media (max-width: 750px) {
        font-size: var(--dt-smfont);
        line-height: var(--dt-smlineheight);
    }

    &.neon {
        text-shadow: 0 0 15px $color-blue, 0 0 20px $color-blue;
    }
}

.double-text::before {
    content: attr(content);
    position: absolute;
    font-family: $albas-filled-font;
    color: rgba($color-blue, 0.6);
    z-index: -1;
}
