#loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out opacity 1.2s;
    pointer-events: all;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $bg-color-darker;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

    .loader-content {
        display: flex;
        flex-direction: column;
    }

    .loading-title {
        margin-top: 20px;
        font-size: 28px;
        color: white;
    }

    .main-loader {
        width: 64px;
        height: 64px;
        display: block;
        margin: 24px auto;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    .main-loader::after,
    .main-loader::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        width: 32px;
        height: 32px;
        top: 50%;
        left: 50%;
        transform: scale(0.5) translate(0, 0);
        background-color: white;
        border-radius: 50%;
        animation: animloader 1s infinite ease-in-out;
    }

    .main-loader::before {
        background-color: $color-purple;
        transform: scale(0.5) translate(-64px, -64px);
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes animloader {
        50% {
            transform: scale(1) translate(-50%, -50%);
        }
    }
}
