<!doctype html>
<html>
<head>
    <title>PrépaLib{% if block("title") is not empty %} | {% block title %}{% endblock %}{% endif %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="La bibliothèque faite pour les prépas.">
    <link rel="icon" href="{{ asset("images/icon.png") }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script>
            MathJax = {
                tex: {
                    inlineMath: [['$', '$']],
                    processEscapes: true,
                    macros: {
                        llbracket: '\\unicode{10214}',
                        rrbracket: '\\unicode{10215}',
                        rg: '\\text{rg}',
                        dim: '\\text{dim}',
                        sup: '\\text{sup}',
                        inf: '\\text{inf}',
                        et: '\\text{ et }'
                    }
                },
                options: {
                    skipHtmlTags: ['script', 'noscript', 'textarea', 'pre']
                }
            };
        </script>
    {% endblock %}
</head>
<body class="text-text-100 font-noto-sans bg-background-500 min-h-[100dvh] min-w-[100dvw] p-0 m-0 select-none">
    <twig:Loader />
    {% block body %}
    {% endblock %}
</body>
</html>
