<a href="{{ targetUrl }}" class="nav-item p-4 rounded-lg flex flex-col gap-1 mx-auto">
    <div class="nav-title-container text-lg font-bold">
        <span class="nav-title"><i class="{{ iconClass}} pe-2"></i>{{ title }}</span>
    </div>
    <div class="nav-description-container text-base">
        <span class="nav-description">{{ details }}</span>
    </div>
</a>
