{% extends 'base.html.twig' %}

{% block body %}
    <twig:Header/>
    <main class="min-h-[100dvh] flex flex-col {% block main_class %}{% endblock %}">
        {% block main %}
        {% endblock %}
    </main>
    <twig:Footer/>
{% endblock %}
