{% extends "admin/admin.base.html.twig" %}

{% block title %}{{ subject.name }} | Exercices{% endblock %}

{% block main_class %}items-center p-2 md:p-4 pt-[88px]!{% endblock %}

{% block main %}
    <div class="container px-2 py-4 md:px-4 md:py-8">
        <div class="overflow-x-auto bg-foreground-500 shadow rounded-lg">
            <div class="p-6">
                <h1 class="text-xl font-bold mb-4">{{ subject.name }} | Exercices</h1>
                <twig:ExerciseTree subject="{{ subject }}" admin="true" form="{{ form }}"/>
            </div>
        </div>
    </div>
{% endblock %}
